//書体
html,body{
    font-family: sans-serif;
    text-align: center;
}
p{
    font-size: 16px;
    line-height: 1.8em;
    @include sp{
        font-size: 14px;
        text-align: left;
    }
}
h2{
    font-size: 54px;
    line-height: 1.8em;
    @include sp{
        font-size: 40px;
    }
}

h3{
    font-size: 30px;
    line-height: 1.8em;
    @include sp{
        font-size: 18px;
        text-align: left;
    }
}

h4{
    font-size: 20px;
    line-height: 1.8em;
    margin-bottom: 10px;
    @include sp{
        font-size: 16px;
        text-align: left;
    }
}


.en{
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-style: normal;
}
.bold{
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.justify{
    text-align: justify;
}

//flexbox
.col2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    div, li , a{
        width: 50%;
        @include sp{
            width: 100%;
        }
    }
}
.col3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div, > li , > a{
        width: 30%;
        @include sp{
            width: 100%;
        }
    }
}

//幅
.base_w{
    max-width: $base_w;
    margin: 0 auto;
    @include sp{
        width: 94%;
    }
}
.tab_w{
    max-width: $tab_w;
    margin: 0 auto;
    @include sp{
        width: 94%;
    }
}
.sp_w{
    max-width: $sp_w;
    margin: 0 auto;
    @include sp{
        width: 94%;
    }
}

//pc・sp切り替え
.pc{
    display: block;
    @include sp{
        display: none;
    }
}
.sp{
    display: none;
    @include sp{
        display: block;
    }
}

//マージン
.mt90{
    margin-top: 90px;
}
.mt60{
    margin-top: 60px;
}
.mt30{
    margin-top: 30px;
}

.conv_btn{
    display: block;
    max-width: 300px;
    margin: 30px auto;
    transition: 0.3s;
}

/* スクロールアニメーション */
.scrollIn{
    opacity: 0;
    transform: translateY(30px);
    transition: 1s all;
}
.scrollOff{
    opacity: 1;
    transform: translateY(0);
}