@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  line-height: normal;
  overflow-x: hidden;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
a:visited {
  color: #000;
}

img {
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
  vertical-align: top;
}

input,
button {
  box-sizing: border-box;
  border: none;
  outline: none;
}

textarea {
  box-sizing: border-box;
  border: none;
  outline: none;
}

select {
  border: none;
  outline: none;
}

table {
  display: block;
}

html, body {
  font-family: sans-serif;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.8em;
}
@media screen and (max-width: 740px) {
  p {
    font-size: 14px;
    text-align: left;
  }
}

h2 {
  font-size: 54px;
  line-height: 1.8em;
}
@media screen and (max-width: 740px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 30px;
  line-height: 1.8em;
}
@media screen and (max-width: 740px) {
  h3 {
    font-size: 18px;
    text-align: left;
  }
}

h4 {
  font-size: 20px;
  line-height: 1.8em;
  margin-bottom: 10px;
}
@media screen and (max-width: 740px) {
  h4 {
    font-size: 16px;
    text-align: left;
  }
}

.en {
  font-family: "Amatic SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.justify {
  text-align: justify;
}

.col2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.col2 div, .col2 li, .col2 a {
  width: 50%;
}
@media screen and (max-width: 740px) {
  .col2 div, .col2 li, .col2 a {
    width: 100%;
  }
}

.col3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col3 > div, .col3 > li, .col3 > a {
  width: 30%;
}
@media screen and (max-width: 740px) {
  .col3 > div, .col3 > li, .col3 > a {
    width: 100%;
  }
}

.base_w {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 740px) {
  .base_w {
    width: 94%;
  }
}

.tab_w {
  max-width: 940px;
  margin: 0 auto;
}
@media screen and (max-width: 740px) {
  .tab_w {
    width: 94%;
  }
}

.sp_w {
  max-width: 740px;
  margin: 0 auto;
}
@media screen and (max-width: 740px) {
  .sp_w {
    width: 94%;
  }
}

.pc {
  display: block;
}
@media screen and (max-width: 740px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 740px) {
  .sp {
    display: block;
  }
}

.mt90 {
  margin-top: 90px;
}

.mt60 {
  margin-top: 60px;
}

.mt30 {
  margin-top: 30px;
}

.conv_btn {
  display: block;
  max-width: 300px;
  margin: 30px auto;
  transition: 0.3s;
}

/* スクロールアニメーション */
.scrollIn {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s all;
}

.scrollOff {
  opacity: 1;
  transform: translateY(0);
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 740px) {
  header h1 {
    width: 60%;
  }
}
header .conv_btn {
  margin: 0 0;
}
@media screen and (max-width: 740px) {
  header .conv_btn {
    width: 40%;
    padding: 0.5rem 0.5rem;
    background: #ffa91c;
  }
}

#main_visual {
  position: relative;
}
#main_visual .txt {
  max-width: 460px;
  position: absolute;
  top: 30%;
  left: 10%;
}
@media screen and (max-width: 940px) {
  #main_visual .txt {
    max-width: 300px;
  }
}
@media screen and (max-width: 740px) {
  #main_visual .txt {
    margin: 0 auto;
    top: 20%;
    left: 1%;
    right: 1%;
  }
}

ul.checkmark {
  margin: 30px auto;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
@media screen and (max-width: 740px) {
  ul.checkmark {
    font-size: 14px;
  }
}
ul.checkmark li {
  margin-bottom: 10px;
}
ul.checkmark li:before {
  display: inline-block;
  content: url(../images/check_icon.svg);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 740px) {
  ul.checkmark li:before {
    width: 14px;
    height: 14px;
  }
}

.col2 {
  text-align: justify;
}
.col2 .txt {
  padding: 4rem;
}
@media screen and (max-width: 740px) {
  .col2 .txt {
    padding: 2rem;
  }
}
.col2 .txt h4 {
  color: #ffa91c;
}
.col2 .txt .en {
  font-size: 50px;
  text-align: right;
  color: #e2eec8;
}
@media screen and (max-width: 740px) {
  .col2:nth-child(even) {
    flex-direction: column-reverse;
  }
}

#info dl {
  max-width: 740px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  border-bottom: 1px dashed #000;
  font-size: 16px;
}
@media screen and (max-width: 740px) {
  #info dl {
    flex-wrap: wrap;
    font-size: 14px;
  }
}
#info dl dt {
  width: 20%;
  color: #ffa91c;
}
@media screen and (max-width: 740px) {
  #info dl dt {
    width: 100%;
  }
}
#info dl dd {
  width: 70%;
}
@media screen and (max-width: 740px) {
  #info dl dd {
    width: 100%;
  }
}

footer {
  width: 100%;
  margin-top: 60px;
  padding: 1rem;
  background: #e2eec8;
  background-image: url(../images/footer_img.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media screen and (max-width: 740px) {
  footer {
    background-size: 200%;
  }
}
footer nav {
  max-width: 1280px;
  margin: 60px auto 120px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 740px) {
  footer nav {
    margin: 60px auto 60px;
    flex-wrap: wrap;
  }
  footer nav a {
    width: 100%;
    margin-bottom: 20px;
  }
}
footer address {
  font-size: 10px;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */